* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    font-family: Oxygen-Regular;
}

.container {
    padding: 20px;
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4px;
}

.content__item {
    padding-top: 10px;
    max-width: 240px;
    width: 100%;
    gap: 20px;

}

.name,
.id,
.username,
.email,
.web__site {
    margin: 5px 10px;
    padding: 4px;
    background: rgb(3, 210, 41);
    border-radius: 4px;

}

.img {
    border: none;
    width: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
}